.new-question-form {
    border: 2px solid red;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 5%;
}
.input{
    padding: 6px;
    border: none;
    border-bottom: 2px solid;
}
.heading{
    margin: 10px 5px;
}
.answer{
    display: block;
    border: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 3px 5px;
    margin: 5px 0px;
}
.btn{
    border: 2px solid;
    border-radius: 50px;
    color: white;
    background-color: purple;
    width: 50%;
    text-align: center;
    padding-bottom: 2px;   
}