.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #760CEB;
    z-index: 3;
  }
  .navbar-nav{
    margin-left: 60%;
  }
  .nav-link{
    color: white !important;
    cursor: pointer;
  }
  .nav-item{
    padding: 0px 8px;
  }